.body-area2 {
    background: -webkit-linear-gradient(left, #F8F8F8 50%, #FF6059 50%);
    height: 85vh;
    width: 100%;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-area2-div1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-area2-div1 p {
    color: #FF6059;
    width: 600px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3px;
    line-height: 25px;
}
.body-area2-div2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.body-area2-div2 div {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.body-area2-div2 p {
    color: #F8F8F8;
    margin: 0;
    font-size: 110px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.body-area2-div2 span {
    color: #F8F8F8;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}


.menu2 .share i.fa {
    background-color: #FF6059!important;
    color: #F8F8F8!important;
}
.menu2 .submenu li a:hover.telegram i.fa {
    background-color: #0D86D7!important;
}
.menu2 .submenu li a:hover.twitter i.fa {
    background-color: #55acee!important;
}
.menu2 .submenu li a:hover.prmail i.fa {
    background-color: #5A71B5!important;
}
.menu2 .submenu li a:hover.github i.fa {
    background-color: black!important;
}









