@import url("loader.css");

* {
    box-sizing: border-box;
    text-decoration: none;
    line-height: 25px;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.mycontainer {
    width: 1120px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row:after {
    clear: both;
    content: "";
    display: table;
}


/*        HEADER         */

.pre-header {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #d5dddf;
    background-color: #F2F2F2;
    padding-left: 5vh;
    display: flex;
    align-items: center;
}
.pre-header a {
    font-size: 13px;
    margin-right: 25px;
}
.pre-header a:visited {
    color: #0000EE;
}
.pre-header a:nth-child(2) {
    color: black;
}

.header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #d5dddf;
}
.header-wrapper {
    height: 100%;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-logo-wr {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-logo {
    height: 24px;
    width: 85px;
}
.header-logo-wr span {
    line-height: 14px;
    font-size: 15px;
}
.header-social {
    margin-right: 35px;
}
.header-social a {
    text-decoration: none;
    color: #BCBCBC;
    margin-right: 15px;
}
.header-social a:last-child {
    margin-right: 0px;
}
.header-social a:hover.telegram i.fa {
    color: #0D86D7;
}
.header-social a:hover.twitter i.fa {
    color: #55acee;
}
.header-social a:hover.prmail i.fa {
    color: #5A71B5;
}
.header-social a:hover.github i.fa {
    color: black;
}
.header-lang {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
}
.header-lang a {
    text-decoration: none;
    color: black;
}
.header-lang a:hover {
    text-decoration: none;
    color: black;
}


.body-wrap {
    height: 900px;
}
.body-main {
    width: 65%;
    height: 100%;
    float: left;
    padding-top: 50px;
}
.main-block {
    margin-top: 50px;
}
.main-block:first-child {
    margin-top: 0;
}
.main-block a {
    color: black;
    font-size: 38px;
}
.main-block span {
    margin-top: 10px;
    font-size: 15px;
}
.body-side {
    width: 30%;
    height: 100%;
    float: right;
    padding-top: 50px;
}
.body-side div {
    display: flex;
    justify-content: center;
}
.body-side div form input[type="text"] {
    padding: 9px;
    border: 1px solid #BCBCBC;
    margin-right: 5px;
}
.body-side div form .search {
    padding: 9px 20px;
    color: #ffffff;
    background-color: #BCBCBC;
    border: 1px solid #BCBCBC;
}
.body-side div form .search:hover {
    background-color: #706778;
    cursor: pointer;
}
.topics {
    margin-top: 70px;
    padding-left: 10px;
    flex-direction: column;
}
.topics p {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}
.topics ul {
    list-style: none;
    padding: 0;
}
.topics ul li {
    
}
.topics ul li a {
    
}
.topics ul li a:visited {
    color: blue;
}


















