/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
}

/* SAD CAT */
@media only screen and (max-width : 590px) {
    .sadcat img {
        width: 400px;
    }
    
    .sadcat span {
        font-size: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    
}

@media only screen and (max-width : 451px) {
    .sadcat img {
        width: 350px;
    }
    
    .sadcat span {
        font-size: 18px;
    }
}

@media only screen and (max-width : 380px) {
    .sadcat img {
        width: 250px;
    }
    
    .sadcat span {
        font-size: 15px;
    }
}
    
/* Custom, iPhone Retina 320px */
@media only screen and (max-width : 330px) {
    
}


